<div class="chat-container">
    <div class="chat-header">
        <h1 class="chat-title">ACHARYA</h1>
        <button class="logout-button" (click)="logout()">Logout</button> <!-- Logout Button -->
    </div>

    <div class="chat-history" #chatHistoryDiv [ngClass]="{'empty': chatHistory.length === 0}">
        <div *ngFor="let chat of chatHistory" class="chat-message" [ngClass]="{'user-message': chat.user, 'bot-message': chat.bot}">
            <div *ngIf="chat.user" class="message-content">{{ chat.user }}</div>
            <div *ngIf="chat.bot" class="message-content markdown-container">
                <markdown [data]="chat.bot"></markdown>
                <div class="bot-options" style="display: flex; justify-content: flex-end;">
                    <span class="vote-button" (click)="storeRating('up', chat.bot)">▲</span>
                    <span class="vote-button" (click)="storeRating('down', chat.bot)">▼</span>
                </div>
            </div>
        </div>
    </div>

    <div class="input-container">
        <button (click)="resetSession()" class="reset-button">🔥</button>
        <textarea [(ngModel)]="userMessage" placeholder="Type your message here..." (keydown)="sendMessage($event)"></textarea>
        <button (click)="sendMessage()" class="send-button">Send</button>
    </div>
    <div class="warning" style="font-size: 12px; color: #666; margin-top: 10px;">
        You are chatting with an AI bot. While I strive to provide accurate information, it's essential to verify the accuracy of any information provided. Please do your own research to confirm the information before making any decisions.
    </div>
</div>
